<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Message Dashboard</title>

    <!-- STYLING -->
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- DATA -->
    <script type="text/javascript" src="scripts/data/companies.js"></script>
    <script type="text/javascript" src="scripts/data/guests.js"></script>
    <script type="text/javascript" src="scripts/data/templates.js"/></script>

    <!-- CLASSES -->
    <script type="text/javascript" src="scripts/classes/Message.js"></script>
    <script type="text/javascript" src="scripts/classes/Dashboard.js"></script>

    <!-- ANGULAR -->
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
    <script type="text/javascript" src="scripts/factories/DashboardService.js"></script>
    <script type="text/javascript" src="scripts/controllers/DashboardController.js"></script>

  </head>
  <body>
    <div ng-controller="DashboardController" class="container">
      <h1>Welcome to your Messaging Dashboard!</h1>

      <div ng-repeat="guest in guests">
        <p ng-click="selectGuest(guest)">{{guest.firstName}} {{guest.lastName}}</p>
      </div>
      <br>
      <div ng-repeat="company in companies">
        <p ng-click="selectCompany(company)">{{company.company}}</p>
      </div>
      <br>
      <div ng-repeat="template in templates">
        <p ng-click=selectTemplate(template.message)>{{template.messageName}}</p>
      </div>
      <button type="button" class="btn" ng-click="sendMessage(chosenGuest, chosenCompany, chosenTemplate, greeting)">Send my message!</button>
<!--
          <p ng-click="sendMessage()">Send my message!</p> -->
    </div>

  </body>
</html>
